@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"),
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"),
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  min-width: 1200px;
  width: 100%;
  background-color: #f2f2f2;
}

.main-content h1 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  font-weight: bold;
}

.main-content h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.main-content h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;

  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  position: relative;
}



/* ---------- Header ---------- */

.main-header {
/*position: relative;*/

}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 1200px;
  /*min-height: 56px;*/
  /*padding: 0 72px;*/
  margin: 0;

}

.main-header-logo {
  width: 138px;
  height: 70px;
  /*display: block;*/
  position: absolute;
  top: 0;
  left: 50%;

  z-index: 2;
  margin-left: -69px;
  margin-right: auto;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  /*width: 531px;*/
  width: 40%;
}

.site-navigation li {
  box-sizing: border-box;
  width: 240px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-left {
  margin-right: auto;
}

/* ---------- Header end ---------- */



/* ---------- Footer ---------- */

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0;
  padding: 42px 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
}

.container-inner-page .main-footer {
  position: static;
}

.main-footer-hashtag {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.footer-copyright-text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;

  display: flex;
  align-items: center;
}

.developer-logo-link {
  margin-left: 8px;
}

.main-footer-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 45px;
  margin-right: 10px;
  padding: 0;
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
  display: inline-block;
  width: 48px;
  height: 48px;
  flex-direction: column;
  background-color: #81b3d2;
  background-position: center center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.developer-logo {
  fill: #000000;
  width: 115px;
  height: 41px;
}

.developer-logo-link:hover .developer-logo {
  fill: #81b3d3;
}

.developer-logo-link:active .developer-logo {
  fill: #bdbbbc;
}

/* ---------- Footer end ---------- */

/* ---------- Main Page ---------- */

.banner {
  margin-bottom: 55px;
  position: relative;
}

.features-header {
  text-align: center;
  padding: 0 335px;
  margin-bottom: 51px;
}

.features-header-title {
  margin-bottom: 27px;
}

.features-row1 {
  display: flex;
  height: 256px;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
  margin-bottom: 4px;
}

.features-content {
  text-align: center;
  padding-top: 25px;
}

.features-content-title {
  padding: 0 120px;
  padding-bottom: 3px;
}

.features-content-text {
  padding-right: 46px;
  padding-left: 46px;
  padding-top: 7px;
}

.features-list {
  display: flex;
  justify-content: space-around;

  list-style: none;

  padding-left: 0;

}

li.features-item {
  width: 300px;
  text-align: center;
}

.features-row2 li {
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 80px;
  padding-bottom: 132px;
}

.features-row2 {
  padding: 40px 0;
  padding-bottom: 46px;
  margin: 0;

}

.icon-house {
  background-color: #ffffff;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 70px;
}

.icon-food {
  background-color: #ffffff;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 70px;
}

.icon-souvenir {
  background-color: #ffffff;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 70px;
}

.features-row3 {
  background-color: #eeeeee;
  margin-top: -28px;
}

.features-row3 li {
  width: 260px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
  padding-top: 40px;
  padding-bottom: 46px;
}

.features-item h3 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0;
  padding-bottom: 2px;
}

.features-item-dop {
  padding-top: 6px;
}

.features-header-title,
.main-footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.features-header-text {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
}

.features-content {
  text-align: center;
  background-color: #81b3d2;
}

.features-content-title {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

.white,
.features-content-text {
  color: #ffffff;
}



/* ---------- Main Page ---------- */


/* ---------- Popup Form ---------- */

.popup-search {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin: 0 auto;
  padding-top: 11px;

  position: relative;
}

.popup-search-header p {
  text-align: center;
}


.popup-search-text {
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 47px;
}

.button-popup-search {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-transform: uppercase;
  width: 568px;
  padding: 30px 0;

  background-color: #766357;
  border: 0;
}

.button-popup-search:active {
  color: rgba(255, 255, 255, 0.3);
}


.popup-form {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  width: 568px;
  padding-top: 40px;
  padding-bottom: 55px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #ffffff;
  list-style: none;

  position: absolute;
  top: 100%;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.popup-form-checkin,
.popup-form-checkout {
  display: flex;
	justify-content: space-between;
  align-items: center;

  position: relative;
  margin-bottom: 30px;
}

.popup-form-checkin button,
.popup-form-checkout button {
  position: absolute;
  right: 3px;
  top: 6px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}


.popup-form-checkin input,
.popup-form-checkout input {
	box-sizing: border-box;
	width: 347px;
	height: 38px;
	padding-right: 12px;
	padding-left: 12px;

  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  color: inherit;
  border: none;
}

.popup-form-checkin label,
.popup-form-checkout label {
  margin-right: 18px;
}

.popup-form-quantity-adults input,
.popup-form-quantity-children input {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  color: inherit;
  border: none;
  text-align: center;
}

.popup-form-calendar {
  border: none;
}

.icon-calendar path {
  fill: #a9a9a9;
}

.icon-calendar path:hover {
  fill: #000000;
}

.icon-calendar path:active {
  fill: #81b3d2;
}

.popup-form-quantity {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.popup-form-quantity p {
  margin: 0;
}

.popup-form-quantity-adults,
.popup-form-quantity-children {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.popup-form-quantity-adults label {
  padding-right: 40px;
}

.popup-form-quantity-children label {
  padding-right: 27px;
}

.popup-form-input {
  background-color: #f2f2f2;
  border: 1px solid transparent;

  width: 38px;
  height: 38px;
  margin: 0;
}

.popup-form-input:hover{
  background-color: #ebebeb;
}

.popup-form-input:focus {
  background-color: #ffffff;
  border-color: #f2f2f2;
}

.popup-form-plus {
 position:relative;
 width: 38px;
 height: 38px;
 border: 0;
 padding: 0;
 text-indent: -1000px;
 overflow: hidden;
 background-color: #f2f2f2;
}

.popup-form-plus:hover::after,
.popup-form-plus:hover::before {
  background-color: #000000;
}

.popup-form-plus:active::after,
.popup-form-plus:active::before {
  background-color: #81b3d2;
}

.popup-form-plus::before {
 content: "";
 position: absolute;
 display: block;
 top: 13.5px;
 left: 18px;
 /*top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);*/
 width: 3px;
 height: 11px;
 background-color: #a9a9a9;
}

.popup-form-plus::after {
 content: "";
 position: absolute;
 display: block;
 top: 18px;
 left: 14px;
 /*top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);*/
 width: 11px;
 height: 3px;
 background-color: #a9a9a9;
}

.popup-form-minus {
 position:relative;
 width: 38px;
 height: 38px;
 border: 0;
 padding: 0;
 text-indent: -1000px;
 overflow: hidden;
 background-color: #f2f2f2;
}

.popup-form-minus::before {
 content: "";
 position: absolute;
 display: block;
 top: 18px;
 left: 14px;
 /*top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);*/
 width: 12px;
 height: 3px;
 background-color: #a9a9a9;
}

.popup-form-minus:hover::after,
.popup-form-minus:hover::before {
  background-color: #000000;
}

.popup-form-minus:active::after,
.popup-form-minus:active::before {
  background-color: #81b3d2;
}

.popup-search-btn {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 58px;
  padding: 14px 0;
  margin-top: 54px;
  background-color: #81b3d2;
  border: 0;
}

.popup-search-btn:hover {
  background-color: #669ec0;
}

.popup-search-btn:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* ---------- Popup Form end ---------- */



/* ---------- Catalog Page ---------- */

li.site-navigation-active a {
  color: #766357;
}

.filter-hotels {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 60%;

  padding: 0 72px;

  color: #ffffff;
}

.filter-hotels-form {
  display: flex;
  height: 217px;
  padding: 31px 0;
}

.filter-hotels legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

input[type="checkbox"] {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left;
}

input[checked] {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.filter-hotels input[type="text"] {
  color: #ffffff;
  background-color: transparent;
}

.button-form {
  color: #ffffff;
  background-color: transparent;
}


.form-result-sort {
  display: flex;
  padding: 0 72px;
}

.form-result-sort-title {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.form-result-sort-text {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
}


.sort-form {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
  list-style: none;

  display: flex;
}

.sort-form li {
  margin-right: 40px;
}

.sort-form a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-form a:hover {
  color: #81b3d2;
}

.sort-form a:active {
  color: #000000;
  border-bottom: 1px dotted transparent;
}

a.sort-form-active {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}


a.triangle-up {
  border: 10px solid #ffffff;
  border-bottom-color: #e5e5e5;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

a.triangle-down {
  border: 10px solid #ffffff;
  border-top-color: #81b3d2;
  border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

a.triangle-up:hover{
  border-bottom-color: #231f20;
}

a.triangle-down:hover {
  border-top-color: #231f20;
}

a.triangle-up:active {
  border-bottom-color: #81b3d2;
}

a.triangle-down:active {
  border-top-color: #81b3d2;
}

.triangle-wrapper {
  margin-left: auto;
}

.triangle-wrapper a {
  display: inline-block;
}



.form-result {
  padding: 0 72px;
}

.form-result-hotels {
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-result-hotels:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.form-result-hotels-photo {
  margin-right: 30px;
}

.form-result-hotels-info > h3 {
  line-height: 26px;

}

a.link-h3 {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

a.link-h3:hover {
  color: #81b3d2;
}

a.link-h3:active {
  color: rgba(0, 0, 0, 0.3);
}

a.form-result-hotels-button-blue {
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

a.form-result-hotels-button-blue:hover {
  background-color: #669ec0;
}

a.form-result-hotels-button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.form-result-hotels-button-brown {
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}

a.form-result-hotels-button-brown:hover {
  background-color: #604e43;
}

a.form-result-hotels-button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-result-hotels-stars {
  margin-left: auto;
}

.form-result-hotels-rating {
  color: #666666;
  background-color: #f2f2f2;
}

/* ---------- Catalog Page end ---------- */
