body {
  font-size: 14pt;
  line-height: 21pt;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  width: 1200px;
}

.main-content h1 {
  font-size: 32pt;
  line-height: 38pt;
  color: #000000;
  font-weight: bold;
}

.main-content h2 {
  font-size: 30pt;
  line-height: 36pt;
  color: #000000;
  font-weight: bold;
}

.main-content h3 {
  font-size: 21pt;
  line-height: 21pt;
  color: #000000;
  font-weight: bold;
}

/* Footer */

.main-footer-hashtag {
  font-size: 21pt;
  line-height: 21pt;
  color: #000000;
  font-weight: bold;
}

.footer-copyright-text {
  font-size: 14pt;
  line-height: 26pt;
  color: #000000;
  font-weight: normal;
}

/* Main Page */

.site-navigation,
.popup-form {
  font-size: 14pt;
  line-height: 26pt;
  color: #000000;
  font-weight: bold;
}

.features-header-title,
.main-footer-hashtag {
  font-size: 21pt;
  line-height: 26pt;
  color: #000000;
  font-weight: bold;
}

.features-header-text {
  font-size: 14pt;
  line-height: 26pt;
  color: #333333;
  font-weight: normal;
}

.features-content-title {
  font-size: 21pt;
  line-height: 21pt;
  color: #ffffff;
  font-weight: bold;
}

.number .white,
.features-content-text {
  color: #ffffff;
}

.popup-search-text {
  font-size: 14pt;
  line-height: 24pt;
}

.button-popup-search {
  font-size: 21pt;
  line-height: 26pt;
  color: #ffffff;
  font-weight: bold;
}

.button-popup-search,
.popup-search-btn {
  font-size: 14pt;
  line-height: 26pt;
  color: #000000;
  font-weight: bold;
}


/* Catalog Page */

.filter-hotels legend {
  font-size: 16pt;
  line-height: 21pt;
  color: #000000;
  font-weight: bold;
}

.form-result-sort-title {
  font-size: 14pt;
  line-height: 26pt;
  color: #000000;
  font-weight: bold;
}

.form-result-sort-text {
  font-size: 12pt;
  line-height: 18pt;
  color: #000000;
  font-weight: normal;
}

.sort-form {
  font-size: 12pt;
  line-height: 18pt;
  color: #000000;
  font-weight: normal;
  opacity: 0.3;
}

.form-result-hotels-info > h3 {
  line-height: 26pt;
}

.form-result-hotels-button-blue {
  color: #ffffff;
  font-weight: bold;
}

.form-result-hotels-button-brown {
  color: #ffffff;
  font-weight: bold;
}

.form-result-hotels-rating {
  color: #666666;
}
