@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"),
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    local("PT Sans"),
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  width: 1200px;
}

.container {
  padding: 0 20px;
}

.main-header {
  /* height: 56px; */

  /* Временно */
  background-color: #4be32d;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

.site-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  list-style: none;

  padding: 0;
  margin: 0;
}



.main-content h1 {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  font-weight: bold;
}

.main-content h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

.main-content h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

/* Footer */

.main-footer-hashtag {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.footer-copyright-text {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
}

.main-footer-list {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.social-button a {
  font-size: 0;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.tw {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.developer-logo {
  fill: #000000;
  width: 115px;
  height: 41px;
}

.developer-logo-link:hover .developer-logo {
  fill: #81b3d3;
}

.developer-logo-link:active .developer-logo {
  fill: #bdbbbc;
}



/* Main Page */

.popup-form {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  list-style: none;
}

.site-navigation a {
  text-decoration: none;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-header-title,
.main-footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.features-header-text {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
}

.features-content {
  background-color: #81b3d2;
}

.features-content-title {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

.white,
.features-content-text {
  color: #ffffff;
}

.features-list {
  list-style: none;
}

.icon-house {
  background-color: #ffffff;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-food {
  background-color: #ffffff;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-souvenir {
  background-color: #ffffff;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.features-row3 {
  background-color: #eeeeee;
}

.popup-search-text {
  font-size: 14px;
  line-height: 24px;
}

.button-popup-search {
  font-size: 21px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;

  background-color: #766357;
}

.button-popup-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.popup-search-btn {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;

  background-color: #81b3d2;
}

.popup-search-btn:hover {
  background-color: #669ec0;
}

.popup-search-btn:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.popup-form-link:hover {
  color: #000000;
}

a.popup-form-link:active {
  color: #81b3d2;
}

.popup-form-input {
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.popup-form-input:hover{
  background-color: #ebebeb;
}

.popup-form-input:focus {
  background-color: #ffffff;
  border-color: #f2f2f2;
}

.popup-form-plus {
 position:relative;
 width: 40px;
 height: 40px;
 border: 0;
 padding: 0;
 text-indent: -1000px;
 overflow: hidden;
 background-color: #f2f2f2;
}

.popup-form-plus:hover::after,
.popup-form-plus:hover::before {
  background-color: #000000;
}

.popup-form-plus:active::after,
.popup-form-plus:active::before {
  background-color: #81b3d2;
}

.popup-form-plus::before {
 content: "";
 position: absolute;
 display: block;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 3px;
 height: 12px;
 background-color: #a9a9a9;
}

.popup-form-plus::after {
 content: "";
 position: absolute;
 display: block;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 12px;
 height: 3px;
 background-color: #a9a9a9;
}

.popup-form-minus {
 position:relative;
 width: 40px;
 height: 40px;
 border: 0;
 padding: 0;
 text-indent: -1000px;
 overflow: hidden;
 background-color: #f2f2f2;
}

.popup-form-minus::before {
 content: "";
 position: absolute;
 display: block;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 12px;
 height: 3px;
 background-color: #a9a9a9;
}

.popup-form-minus:hover::after,
.popup-form-minus:hover::before {
  background-color: #000000;
}

.popup-form-minus:active::after,
.popup-form-minus:active::before {
  background-color: #81b3d2;
}

/* Catalog Page */

li.site-navigation-active a {
  color: #766357;
}

.filter-hotels {
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 60%;

  color: #ffffff;
}

.filter-hotels legend {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
}

input[type="checkbox"] {
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left;
}

input[checked] {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.button-form {
  color: #ffffff;
  background-color: transparent;
}

.filter-hotels input[type="text"] {
  color: #ffffff;
  background-color: transparent;
}

.sort-form {
  list-style: none;
}

a.triangle-up {
  border: 10px solid #ffffff;
  border-bottom-color: #e5e5e5;
  border-top-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

a.triangle-down {
  border: 10px solid #ffffff;
  border-top-color: #81b3d2;
  border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

a.triangle-up:hover{
  border-bottom-color: #231f20;
}

a.triangle-down:hover {
  border-top-color: #231f20;
}

a.triangle-up:active {
  border-bottom-color: #81b3d2;
}

a.triangle-down:active {
  border-top-color: #81b3d2;
}

.form-result-sort-title {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.form-result-sort-text {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
}

.sort-form {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
}

.sort-form a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-form a:hover {
  color: #81b3d2;
}

.sort-form a:active {
  color: #000000;
  border-bottom: 1px dotted transparent;
}

a.sort-form-active {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  text-decoration: none;
  border-bottom: none;
}

.form-result-hotels {
  border-top: 1px solid #e5e5e5;
}

.form-result-hotels-info > h3 {
  line-height: 26px;
}

a.link-h3 {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

a.link-h3:hover {
  color: #81b3d2;
}

a.link-h3:active {
  color: rgba(0, 0, 0, 0.3);
}

a.form-result-hotels-button-blue {
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

a.form-result-hotels-button-blue:hover {
  background-color: #669ec0;
}

a.form-result-hotels-button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.form-result-hotels-button-brown {
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}

a.form-result-hotels-button-brown:hover {
  background-color: #604e43;
}

a.form-result-hotels-button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-result-hotels-rating {
  color: #666666;
  background-color: #f2f2f2;
}
